<h2 class="text-center"> 
  <span class="font-italic"> <%= @email_list.name %> </span>
  <% if @email_list.verified? %>
    is presented below
  <% else %>
    is being analyzed, will be ready in a while. Please come back later.
  <% end %>  
</h2>
<% if @email_list.verified? %>
<%= link_to('Download Filtered CSV', rails_blob_path(@email_list.filtered_email_csv, disposition: "attachment"), class: 'btn btn-primary')%>
  <table class="table mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">Email</th>
        <th class="text-center" scope="col">Valid </th>
      </tr>
    </thead>
    <tbody>
      <% @emails.each do |email| %>
        <tr>
          <th scope="row"> <%= email.address %> </th>
          <td class="text-center"> <%= email.is_valid ? "Yes" : "NO" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @emails %>
<% end %>
